!!! 5
html
    head
        title A Backbone Express example app
        // vendor code
        // TODO: it'd be nice if backbone-express-client already included Backbone
        // so you don't need to load both of them separately and so there's no
        // possibility of version mismatches
        // TODO: while apps should use backbone-express-client as a regular
        // vendor script (as we do here), that's not where it should live
        // in the backbone-express project.
        script(src='vendor/jquery/1.7.1/jquery.min.js')
        script(src='vendor/underscore/1.3.1/underscore.min.js')
        script(src='vendor/backbone/0.9.1/backbone.min.js')
        script(src='vendor/jade/0.21.0/runtime.min.js')
        script(src='vendor/backbone-express-client/0.1.0/index.coffee')
        // templates need to be loaded before views because they're used in those views
        script(src='templates/layout.jade', type='text/jade')      
        script(src='templates/home.jade', type='text/jade')      
        script(src='templates/detail.jade', type='text/jade')  
        script(src='models.coffee')
        script(src='views.coffee')
        script(src='routes.coffee')        
        script(src='init.coffee')      
    body
