body
    width: 560px
    padding: 30px
    border-radius: 2px
    box-shadow: 0 0 40px #999
    margin: 100px auto
    font-family: arial

header
    font-style: italic
    margin-bottom: 20px

a
    font-weight: bold
    color: #5286a4
    text-decoration: none

    &:hover
        color: #3aa5e2

    &.solid
        font-style: normal
        padding: 2px 4px
        margin-right: 10px
        background: #5286a4
        color: white
        border-radius: 2px

        &:hover
            background: #3aa5e2

footer
    border-top: 1px solid #ccc
    padding-top: 10px
    text-align: right
    margin-top: 20px
